
.logo{
    width: 40px;
    height: 35px;
}
.des{
    width: 40px;
    height: 35px;
}

.footer{
    height: 10%;


}
#tex{
    padding-top: 5rem;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

